<div style=" padding :20px 100px 10px 100px; ">
    <div class="container">
    <div class="row">
      <div class="col-sm-4">
   
    
    <div class="card mr-2 d-inline-block shadow-lg" style="width:250px">
      <img class="card-img-top" src="https://i2-prod.mirror.co.uk/incoming/article8008409.ece/ALTERNATES/s615/Woman-working-from-home.jpg" alt=" image" style="width:100%">
      <h2 style="text-align: center;">NIKHITHA</h2>
      <div class="card-body">
   
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
        Some example text some example text. John Doe is an architect and engineer
      </p>
       
      </div>
    </div>
  </div>  
  <div class="col-sm-4" >
   
   
    <div class="card mr-2 d-inline-block shadow-lg" style="width:250px">
      <img class="card-img-top" src="https://media3.s-nbcnews.com/j/newscms/2018_21/2441131/180522-woman-working-on-laptop-al-1503_2a123b344fe0f63fcbeb3a67fc6f5fc8.fit-760w.jpg" alt=" image" style="width:100%">
      <h2 style="text-align: center;">USHA</h2>
      <div class="card-body" >
         
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
        Some example text some example text. John Doe is an architect and engineer
      </p>
       
      </div>
    </div>
  </div>  
  <div class="col-sm-4">
    
    
    <div class="card mr-2 d-inline-block shadow-lg" style="width:250px">
      <img class="card-img-top" src="https://th.bing.com/th/id/OIP.ypzASBEp7N9jJgPoUoNLhQHaE7?w=300&h=194&c=7&o=5&dpr=1.25&pid=1.7" alt=" image" style="width:100%">
      <h2 style="text-align: center;">BHAVANI</h2>
      <div class="card-body">
        
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer
        Some example text some example text. John Doe is an architect and engineer
      </p>
       
      </div>
    </div>
  </div>  
  </div>
  </div>
  </div>

